* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Book Antiqua";
    background-color: #ffc5eb;
}

.menu {
    background-color: #882769;
    width: 100%;
    height: 50px;
}

.menu ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffc5eb;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.conteudo h1 {
    margin: 10px;
    text-align: center;
    font-size: 50px;
}

.home {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh - 50px);
    background: #ffc5eb;
}

.texto-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #882769;
}

.img-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow: hidden;

    background-image: url("/static/img/senai.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.calculos {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.calculos a {
    color: #d950a9;
    font-family: Gabriola;
}

.calculos a:hover {
    color: #ffc5eb;
}

.card_calculo {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffc5eb;
}

.card_operacao {
    border: 2px solid #d950a9;
    border-radius: 20px;
    text-align: center;
    color: #882769;
}

.form-somar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px;
}

.form-somar input {
    width: 80px;
}

.operador {
    font-size: 26px;
}

.h1 {
    color: #d950a9;
}

.card_calculo {
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #d950a9;
}

.card_operacao2 {
    border: 2px solid #ffc5eb;
    border-radius: 20px;
    text-align: center;
    color: #ffc5eb;
}

.form-subtracao {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px;
}

.form-subtracao input {
    width: 80px;
}

.operador2 {
    font-size: 26px;
}

.card_calculo {
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #882769;
}

.card_operacao3 {
    border: 2px solid #d950a9;
    border-radius: 20px;
    text-align: center;
    color: #ffc5eb;
}

.form-multiplicar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px;
}

.form-multiplicar input {
    width: 80px;
}

.operador3 {
    font-size: 26px;
}

.card_calculo {
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #d950a9;
}

.card_operacao4 {
    border: 2px solid #d950a9;
    border-radius: 20px;
    text-align: center;
    color: #ffc5eb;
}

.form-dividir {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px;
}

.form-dividir input {
    width: 80px;
    width: 80px;
}

.operador4 {
    font-size: 26px;
}

.icon_calculo {
    font-size: 40px;
    color: #ffc5eb;
}

.h3 {
    color: #ffc5eb;

}

.geo {
    color: #d950a9;
    justify-items: center;
    margin: 10px;
}

.h2 {
    justify-items: center;

}

.card_triangulo {
    border: 2px solid #d950a9;
    border-radius: 20px;
    text-align: center;
    color: #ffc5eb;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    justify-items: center;

}
 .carrosel{
     height: 100vh;
 }

 .cursos{
     color: #882769;
     display: flex;

     width: 100%;
     height: 100vh;
 }

 .curso-img{
     height: 100%;
     overflow: hidden;
 }


.conteudo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}